# Data Science Master Degree Capstone Project

## Dataset : Crime in Baltimore

## Harmankaranjit Singh Lohiya

## QO38890

In [98]:
# Importing libraries and reading the data

import pandas as pd
import numpy as np

df = pd.read_csv("crime_in_baltimore")

In [99]:
df.head()

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Location 1,Premise,Total Incidents
0,09/02/2017,23:30:00,3JK,4200 AUDREY AVE,ROBBERY - RESIDENCE,I,KNIFE,913.0,SOUTHERN,Brooklyn,-76.60541,39.22951,"(39.2295100000, -76.6054100000)",ROW/TOWNHO,1
1,09/02/2017,22:53:00,9S,600 RADNOR AV,SHOOTING,Outside,FIREARM,524.0,NORTHERN,Winston-Govans,-76.60697,39.34768,"(39.3476800000, -76.6069700000)",Street,1
2,09/02/2017,22:50:00,4C,1800 RAMSAY ST,AGG. ASSAULT,I,OTHER,934.0,SOUTHERN,Carrollton Ridge,-76.64526,39.28315,"(39.2831500000, -76.6452600000)",ROW/TOWNHO,1
3,09/02/2017,22:31:00,4E,100 LIGHT ST,COMMON ASSAULT,O,HANDS,113.0,CENTRAL,Downtown West,-76.61365,39.28756,"(39.2875600000, -76.6136500000)",STREET,1
4,09/02/2017,21:15:00,1F,3400 HARMONY CT,HOMICIDE,Outside,FIREARM,232.0,SOUTHEASTERN,Canton,-76.56827,39.28202,"(39.2820200000, -76.5682700000)",Street,1

In [100]:
# Dropping the unwanted column 

df.drop("Inside/Outside", axis=1, inplace=True)

In [101]:
df.head()

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Weapon,Post,District,Neighborhood,Longitude,Latitude,Location 1,Premise,Total Incidents
0,09/02/2017,23:30:00,3JK,4200 AUDREY AVE,ROBBERY - RESIDENCE,KNIFE,913.0,SOUTHERN,Brooklyn,-76.60541,39.22951,"(39.2295100000, -76.6054100000)",ROW/TOWNHO,1
1,09/02/2017,22:53:00,9S,600 RADNOR AV,SHOOTING,FIREARM,524.0,NORTHERN,Winston-Govans,-76.60697,39.34768,"(39.3476800000, -76.6069700000)",Street,1
2,09/02/2017,22:50:00,4C,1800 RAMSAY ST,AGG. ASSAULT,OTHER,934.0,SOUTHERN,Carrollton Ridge,-76.64526,39.28315,"(39.2831500000, -76.6452600000)",ROW/TOWNHO,1
3,09/02/2017,22:31:00,4E,100 LIGHT ST,COMMON ASSAULT,HANDS,113.0,CENTRAL,Downtown West,-76.61365,39.28756,"(39.2875600000, -76.6136500000)",STREET,1
4,09/02/2017,21:15:00,1F,3400 HARMONY CT,HOMICIDE,FIREARM,232.0,SOUTHEASTERN,Canton,-76.56827,39.28202,"(39.2820200000, -76.5682700000)",Street,1

In [102]:
# Dropping the unwanted column 

df.drop("Total Incidents", axis=1, inplace=True)

In [103]:
df.head()

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Weapon,Post,District,Neighborhood,Longitude,Latitude,Location 1,Premise
0,09/02/2017,23:30:00,3JK,4200 AUDREY AVE,ROBBERY - RESIDENCE,KNIFE,913.0,SOUTHERN,Brooklyn,-76.60541,39.22951,"(39.2295100000, -76.6054100000)",ROW/TOWNHO
1,09/02/2017,22:53:00,9S,600 RADNOR AV,SHOOTING,FIREARM,524.0,NORTHERN,Winston-Govans,-76.60697,39.34768,"(39.3476800000, -76.6069700000)",Street
2,09/02/2017,22:50:00,4C,1800 RAMSAY ST,AGG. ASSAULT,OTHER,934.0,SOUTHERN,Carrollton Ridge,-76.64526,39.28315,"(39.2831500000, -76.6452600000)",ROW/TOWNHO
3,09/02/2017,22:31:00,4E,100 LIGHT ST,COMMON ASSAULT,HANDS,113.0,CENTRAL,Downtown West,-76.61365,39.28756,"(39.2875600000, -76.6136500000)",STREET
4,09/02/2017,21:15:00,1F,3400 HARMONY CT,HOMICIDE,FIREARM,232.0,SOUTHEASTERN,Canton,-76.56827,39.28202,"(39.2820200000, -76.5682700000)",Street

In [104]:
# Creating new column "Arrest-made" for supervised learning and randomly assigning the values to it by using random func.

np.random.seed(42) 
df["Arrest-made"] = np.random.choice([True, False], size=len(df))

In [87]:
df.head()

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Weapon,Post,District,Neighborhood,Longitude,Latitude,Location 1,Premise,Arrest-made
0,09/02/2017,23:30:00,3JK,4200 AUDREY AVE,ROBBERY - RESIDENCE,KNIFE,913.0,SOUTHERN,Brooklyn,-76.60541,39.22951,"(39.2295100000, -76.6054100000)",ROW/TOWNHO,True
1,09/02/2017,22:53:00,9S,600 RADNOR AV,SHOOTING,FIREARM,524.0,NORTHERN,Winston-Govans,-76.60697,39.34768,"(39.3476800000, -76.6069700000)",Street,False
2,09/02/2017,22:50:00,4C,1800 RAMSAY ST,AGG. ASSAULT,OTHER,934.0,SOUTHERN,Carrollton Ridge,-76.64526,39.28315,"(39.2831500000, -76.6452600000)",ROW/TOWNHO,True
3,09/02/2017,22:31:00,4E,100 LIGHT ST,COMMON ASSAULT,HANDS,113.0,CENTRAL,Downtown West,-76.61365,39.28756,"(39.2875600000, -76.6136500000)",STREET,True
4,09/02/2017,21:15:00,1F,3400 HARMONY CT,HOMICIDE,FIREARM,232.0,SOUTHEASTERN,Canton,-76.56827,39.28202,"(39.2820200000, -76.5682700000)",Street,True

In [105]:
df.shape  # Shape of the dataset

(89943, 14)

In [106]:
df.info()  # Information about the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89943 entries, 0 to 89942
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CrimeDate     89943 non-null  object
 1   CrimeTime     89943 non-null  object
 2   CrimeCode     89943 non-null  object
 3   Location      89943 non-null  object
 4   Description   89943 non-null  object
 5   Weapon        89943 non-null  object
 6   Post          89943 non-null  float64
 7   District      89943 non-null  object
 8   Neighborhood  89943 non-null  object
 9   Longitude     89943 non-null  float64
 10  Latitude      89943 non-null  float64
 11  Location 1    89943 non-null  object
 12  Premise       89943 non-null  object
 13  Arrest-made   89943 non-null  bool
dtypes: bool(1), float64(3), object(10)
memory usage: 9.0+ MB

In [107]:
df.dtypes  # Data-types

CrimeDate        object
CrimeTime        object
CrimeCode        object
Location         object
Description      object
Weapon           object
Post            float64
District         object
Neighborhood     object
Longitude       float64
Latitude        float64
Location 1       object
Premise          object
Arrest-made        bool
dtype: object

---------------------------------